/* TaskList.css */


  .task {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 75px;
    background: radial-gradient(
      circle, 
      #b5b5c2,  /* Blue */
        /* White */
      #e8ebec   /* Orange */
    );
  }
  