/* AuthPage.css */
.auth-container {
    background-color: #f8f9fa;
    /* padding: 30px; */
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.auth-card {
    padding: 20px;
    border-radius: 8px;
    background-image: url('./../../assets/scene.jpeg');
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    font-weight: bolder;
    font-family: Poppins;
}

.auth-card {
    padding: 20px;
    border-radius: 8px;
}

.auth-header {
    margin-bottom: 20px;
}

.btn-toggle {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.loginText{
    color: #fff;
    font-weight: 700;
}
