    /* background:radial-gradient(circle, #bcbcca, #e4c5ff, #ebd1ef); */ 
 
 .dashboard-container {
  display: contents;
  height: fit-content;
  width: fit-content;
}
/* .global-container{
  margin:100px 0 0 260px;
  position: absolute;
  width: 100%;
  z-index: -1000;
  padding-right: 100px;
  padding-left: 100px;
} */
.h1,h1,h2{
  font-size: 1.5rem;
  text-align: left;
  font-style: Poppins;
}
p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.global-container {
  display: flex;
  margin-left: 160px;
  margin-top: 48px;
  position: absolute; 
  z-index: 1; 
  overflow-x: hidden; 
  width: calc(100% - 170px); 
  background-color: #d4d6d95e;
  border-radius: 5px;
}

/* Targeting the scrollbar */
.custom-scrollbar {
  overflow-x: auto; /* Enable horizontal scroll */
  white-space: nowrap; /* Ensure contents don't wrap to the next line */
}

/* Webkit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  height: 12px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Creates padding around the thumb */
}

/* Hover effect */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  scrollbar-width: thin; /* Make the scrollbar thinner */
}

/* For IE and Edge (Legacy) */
.custom-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-primary{
    background-color:#b377e3;
    --bs-btn-border-color:#b377e3
}
.table td {
  background-color: #fff;
  font-size: 11px;
}
.table th {
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-secondary{
  font-size: 11px;
}

.bg-warning{
  font-size: 11px;
  margin: 8px;
}


/* task stylings */
.input-with-icon {
  position: relative;
}

.input-with-icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.input-with-icon input {
  padding-right: 30px; /* To ensure the text doesn't overlap with the icon */
}
.radio-group {
  display: flex;
  align-items: center;
}

.radio-group .form-check {
  margin-right: 1rem; /* Adjust as needed */
}
h4{
  color:#b377e3;
}
