 .dashboard-container {
  display: contents;
  height: fit-content;
  width: fit-content;
}
.global-container{
  margin: 100px;
  position: absolute;
  width: 100%;
  z-index: -1000;
}
.h1,h1{
  font-size: 1.5rem;
  text-align: left;
  font-style: Poppins;
}
